.center-conatiner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.tabs {
	display: flex;
	align-items: center;
	background-color: var(--tabs-bg-color);
	padding: 0.5rem;
}

.btn {
	border: none;
	background: none;
	outline: none;
}

.tab__btn {
	color: var(--tabs-text-color);
	padding: 0.5rem 1rem;
}

.tab__btn:hover {
	background-color: var(--tabs-hover-color);
}
.active-1 {
	background-color: var(--tabs-active-black-color);
}

.active-2 {
	background-color: var(--tabs-active-black-color);
}

.active-3 {
	border-bottom: 2px solid var(--tabs-active-blue-color);
}

.underline:hover {
	border-bottom: 2px solid var(--tabs-active-blue-color);
}

.rounded {
	border-radius: 0.5rem;
}

/* tab icon */
.tab-icon {
	font-size: 1rem;
	margin-right: 0.5rem;
}

/* scrollable */
.hide-overflow {
	width: 30rem;
	overflow: auto;
}
.hide-overflow::-webkit-scrollbar {
	display: none;
}
