<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://utilities91.netlify.app/styles.css" />
    <link rel="stylesheet" href="./text.css" />
    <title>Text</title>
</head>

<body>

    <h3>heading</h3>
    <p class="text-xlg">This is extra large text.</p>
    <p class="text-lg">This is large text.</p>
    <p class="text-base">This is normal text.</p>
    <p class="text-sm">This is small text.</p>
    <br>

    <h3>gray text</h3>
    <p class="gray">This is gray text</p>
    <br>

    <h3>text bold</h3>
    <div>
        <p class="font-black">This is black(extra bold)</p>
        <p class="font-bold">This is bold</p>
        <p class="font-semibold">This is semibold</p>
        <p class="font-regular">This is regular</p>
        <p class="font-light">This is light</p>
    </div>
    <br>

    <h3>text alignments</h3>
    <div class="text-center">
        <p>This is center text.</p>
    </div>
    <div class="text-left">
        <p>This is left align text.</p>
    </div>
    <div class="text-right">
        <p>This is right align text.</p>
    </div>
</body>

</html>